<%-include("partials/header.ejs")%>
<body>
    <div class="account-wrapper">
        <nav>
            <p>Welcome, <%= user.username %></p>
            <div class="right">
                <a href="#">Home</a>
                <a href="#">Profile</a>
                <a href="#">Settings</a>
            </div>
        </nav>
        <main>
            <table>
                <tr>
                    <td>username</td>
                    <td><%=user.username%></td>
                </tr>
                <tr>
                    <td>id</td>
                    <td><%=user.id%></td>
                </tr>
                <tr>
                    <td>password</td>
                    <td><%=user.password%></td>
                </tr>
            </table>
            <a href="/logout">Logout</a>
        </main>
    </div>
</body>
<%-include("partials/footer.ejs")%>
