<%-include("partials/header.ejs")%>
<body>
    <div class="account-wrapper">
        <nav>
            <p>Logged in user:  <%= user.username %></p>
            <% if(locals.player){ %>
                <div class="level-xp">
                    <p>LEVEL: <%=player.level%></p>
                    <p>XP (<%=player.xp%>/100)</p>
                </div>
            <%}%>
            <a href="/logout">Logout</a>
        </nav>
        <main>
            <% if (locals.player) {%>
                <table>
                    <tr>
                        <td>POWER</td>
                        <td><%=player.power%></td>
                    </tr>
                    <tr>
                        <td>DEFENCE</td> 
                        <td><%=player.defense%></td>
                    </tr>
                    <tr>
                        <td>LEVEL</td>
                        <td><%=player.level%></td>
                    </tr>
                </table>
            <%}else{%>
                <form action="/create-player" method="POST">
                    <button type="submit">Create Player</button>
                </form>
            <%}%>
        </main>
    </div>
</body>
<%-include("partials/footer.ejs")%>
